body, td {
   font-family: Times, TimesNewRoman, serif;
   background-color: white;
   font-size: 11pt;
   margin: 40px;
   width:  960px;
   text-align:justify;
}

tt, code, pre {
   font-family: Consolas, Monaco, monospace;
   font-size: 10pt;
   font-weight: bolder;
}

h1 {
   font-family: Hevetica, Arial, sans-serif;
   font-size:16pt;
   font-weight: normal;
}

h2 {
   font-size:16pt;
   font-weight: normal;
}

h3 {
   font-size:14pt;
   font-weight: normal;
}

h4 {
   font-size:14pt;
   font-weight: normal;
   font-style: italic;
}

h5 {
   font-size:12pt;
   font-weight: normal;
}

h6 {
   font-size:12pt;
   font-weight: normal;
   font-style: italic;
}

a:visited {
   color: rgb(50%, 0%, 50%);
}

pre { 
   margin-top: 0;
   max-width: 100%;
   border: 1px solid #ccc;
   white-space: pre-wrap;
}

pre code {
   display: block; padding: 0.5em;
   background-color:  #E0E0E0;
}

code.r, code.noeval, code.cpp {
   background-color: #eeeeee;
}

table, td, th {
  border: none;
}

blockquote {
   color:#000000;
   margin:0;
   padding-left: 1em;
   padding-right: 1em;
   border-left: 0.5em #E0E0E0 solid;
   border-right: 0.5em #E0E0E0 solid
}

hr {
   height: 0px;
   border-bottom: none;
   border-top-width: thin;
   border-top-style: dotted;
   border-top-color: #999999;
}


